<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Blue player</th>
      <th>Red player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.blue_player.name %></td>
        <td><%= game.red_player.name %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Game', games_path, class: 'btn btn-primary' %>
