<p id="notice"><%= notice %></p>

<p>
  <strong>Blue player:</strong>
  <%= @game.blue_player.name %>
</p>

<p>
  <strong>Red player:</strong>
  <%= @game.red_player.name %>
</p>

<%= render 'games/board' %>

<%= content_tag :h3, "#{@game.turn.name} won!" if @game.over? %>
<%= content_tag :h3, "Your move #{@game.turn.name}" unless @game.over? %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
