<p id="notice"><%= notice %></p>

<p>
  <strong>Player one:</strong>
  <%= @game.player_one %>
</p>

<p>
  <strong>Player two:</strong>
  <%= @game.player_two %>
</p>

<%= render 'games/board' %>
<%= render 'moves/form' unless @game.over? %>

<%= content_tag :h3, "Game over!" if @game.over? %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
