<p id="notice"><%= notice %></p>

<p>
  <strong>Blue player:</strong>
  <%= @game.blue_player.name %>
</p>

<p>
  <strong>Red player:</strong>
  <%= @game.red_player.name %>
</p>

<div id='board'>
  <%= render 'games/board' %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
